openapi: 3.0.0
info:
  contact:
    name: MX Platform API
    url: https://www.mx.com/products/platform-api
  description: |
    The MX Platform API is a powerful, fully-featured API designed to make aggregating and enhancing financial data easy and reliable. It can seamlessly connect your app or website to tens of thousands of financial institutions.

    Just getting started? See our [use case guides](/use-cases/).
  title: MX Platform API
  version: "20111101"
servers:
- url: https://int-api.mx.com
- url: https://api.mx.com
security:
- basicAuth: []
tags:
- name: authorization
- name: widgets
- name: users
- name: members
- name: institutions
- name: accounts
- name: transactions
- name: microdeposits
- name: managed data
- name: transaction rules
- name: statements
- name: merchants
- name: categories
- name: insights
- name: investment holdings
- name: spending plan
- name: goals
- name: budgets
- name: monthly cash flow profile
- name: notifications
- name: taggings
- name: tags
- name: deprecated
- name: processor token
- name: verifiable credentials
- name: rewards
- name: ach return
paths:
  /authorization_code:
    post:
      description: "Clients use this endpoint to request an authorization code according\
        \ to the parameters specified in the scope. Clients then pass this code to\
        \ processors. Processor access is scoped only to the GUIDs and features specified\
        \ in this request. Before requesting an authorization code which includes\
        \ a member in the scope, clients must have verified that member."
      operationId: requestAuthorizationCode
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizationCodeRequestBody'
        description: The scope for the authorization code.
        required: true
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AuthorizationCodeResponseBody'
          description: OK
      summary: Request an authorization code
      tags:
      - processor token
  /ach_returns/{ach_return_guid}:
    get:
      description: |
        :::warning
        The features documented here are in a beta state, and this documentation is considered draft material subject to frequent change.
        :::

        Use this endpoint to get an ACH return by its `guid` or `id`.
      operationId: readACHRetrun
      parameters:
      - description: The unique identifier (`guid`) for the ACH return. Defined by
          MX.
        explode: false
        in: path
        name: ach_return_guid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/ACHReturnResponseBody'
          description: OK
      summary: Read ACH Return
      tags:
      - ach return
  /ach_returns:
    get:
      description: |
        :::warning
        The features documented here are in a beta state, and this documentation is considered draft material subject to frequent change.
        :::

        Use this endpoint to get all ACH returns.
      operationId: listACHRetruns
      parameters:
      - description: The identifier for the institution associated with the ACH return.
          Defined by MX.
        explode: true
        in: query
        name: institution_guid
        required: false
        schema:
          type: string
        style: form
      - description: The date and time when the return was reported by the Receiving
          Financial Depository Institution (RDFI) in ISO 8601 format without timestamp.
        example: 2025-02-13T18:09:00+00:00
        explode: true
        in: query
        name: returned_at
        required: false
        schema:
          type: string
        style: form
      - description: The date and time when the return was resolved by the Receiving
          Financial Depository Institution (RDFI) in ISO 8601 format without timestamp
        example: 2025-02-13T18:09:00+00:00
        explode: true
        in: query
        name: resolved_status_at
        required: false
        schema:
          type: string
        style: form
      - description: "The associated ACH return code and notice of change code. See\
          \ [Return Codes](/api-reference/platform-api/reference/ach-return-fields#return-codes)\
          \ for a complete list."
        explode: true
        in: query
        name: return_code
        required: false
        schema:
          type: string
        style: form
      - description: "The status of the return. See [Return Statuses](/api-reference/platform-api/reference/ach-return-fields#return-status)\
          \ for a complete list."
        example: SUBMITTED
        explode: true
        in: query
        name: return_status
        required: false
        schema:
          type: string
        style: form
      - description: Results are paginated. Specify current page.
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: "This specifies the number of records to be returned on each\
          \ page. Defaults to `25`. The valid range is from `10` to `100`. If the\
          \ value exceeds `100`, the default value of `25` will be used instead."
        example: 10
        explode: true
        in: query
        name: records_per_page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/ACHReturnsResponseBody'
          description: OK
      summary: List ACH Returns
      tags:
      - ach return
    post:
      description: |
        :::warning
        The features documented here are in a beta state, and this documentation is considered draft material subject to frequent change.
        :::

        Use this endpoint to create an ACH return in our system.
      operationId: createACHReturn
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ACHReturnCreateRequestBody'
        description: ACH return object to be created.
        required: true
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/ACHReturnResponseBody'
          description: OK
      summary: Create ACH Return
      tags:
      - ach return
  /categories/default:
    get:
      description: "Use this endpoint to retrieve a list of all the default categories\
        \ and subcategories offered within the MX Platform API. In other words, each\
        \ item in the returned list will have its `is_default` field set to `true`.\
        \ There are currently 119 default categories and subcategories. Both the _list\
        \ default categories_ and _list default categories by user_ endpoints return\
        \ the same results. The different routes are provided for convenience."
      operationId: listDefaultCategories
      parameters:
      - description: Results are paginated. Specify current page.
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: "This specifies the number of records to be returned on each\
          \ page. Defaults to `25`. The valid range is from `10` to `100`. If the\
          \ value exceeds `100`, the default value of `25` will be used instead."
        example: 10
        explode: true
        in: query
        name: records_per_page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/CategoriesResponseBody'
          description: OK
      summary: List default categories
      tags:
      - categories
  /categories/{category_guid}:
    get:
      description: Use this endpoint to read the attributes of a default category.
      operationId: readDefaultCategory
      parameters:
      - description: The unique id for a `category`.
        explode: false
        in: path
        name: category_guid
        required: true
        schema:
          example: CAT-7829f71c-2e8c-afa5-2f55-fa3634b89874
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/CategoryResponseBody'
          description: OK
      summary: Read a default category
      tags:
      - categories
  /institutions:
    get:
      description: This endpoint returns a list of institutions based on the specified
        search term or parameter.
      operationId: listInstitutions
      parameters:
      - description: This will list only institutions in which the appended string
          appears.
        example: mxbank
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: "An array of strings that filters institutions in the widget\
          \ by the specified country code. Acceptable codes include `US`, `CA`, and\
          \ `MX` (Mexico)."
        example:
        - US
        - CA
        explode: true
        in: query
        name: iso_country_code
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Results are paginated. Specify current page.
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: "This specifies the number of records to be returned on each\
          \ page. Defaults to `25`. The valid range is from `10` to `100`. If the\
          \ value exceeds `100`, the default value of `25` will be used instead."
        example: 10
        explode: true
        in: query
        name: records_per_page
        required: false
        schema:
          type: integer
        style: form
      - description: Filter only institutions which support account identification.
        example: true
        explode: true
        in: query
        name: supports_account_identification
        required: false
        schema:
          type: boolean
        style: form
      - description: Filter only institutions which support account statements.
        example: true
        explode: true
        in: query
        name: supports_account_statement
        required: false
        schema:
          type: boolean
        style: form
      - description: Filter only institutions which support account verification.
        example: true
        explode: true
        in: query
        name: supports_account_verification
        required: false
        schema:
          type: boolean
        style: form
      - description: Filter only institutions which support extended transaction history.
        example: true
        explode: true
        in: query
        name: supports_transaction_history
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InstitutionsResponseBody'
          description: OK
      summary: List institutions
      tags:
      - institutions
  /institutions/favorites:
    get:
      description: "This endpoint returns a paginated list containing institutions\
        \ that have been set as the partner’s favorites, sorted by popularity. Please\
        \ contact MX to set a list of favorites."
      operationId: listFavoriteInstitutions
      parameters:
      - description: "An array of strings that filters institutions in the widget\
          \ by the specified country code. Acceptable codes include `US`, `CA`, and\
          \ `MX` (Mexico)."
        example:
        - US
        - CA
        explode: true
        in: query
        name: iso_country_code
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Results are paginated. Specify current page.
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: "This specifies the number of records to be returned on each\
          \ page. Defaults to `25`. The valid range is from `10` to `100`. If the\
          \ value exceeds `100`, the default value of `25` will be used instead."
        example: 10
        explode: true
        in: query
        name: records_per_page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InstitutionsResponseBody'
          description: OK
      summary: List favorite institutions
      tags:
      - institutions
  /institutions/{institution_code}:
    get:
      description: This endpoint returns information about the institution specified
        by `institution_code`.
      operationId: readInstitution
      parameters:
      - description: The institution_code of the institution.
        example: mxbank
        explode: false
        in: path
        name: institution_code
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InstitutionResponseBody'
          description: OK
      summary: Read institution
      tags:
      - institutions
  /institutions/{institution_code}/credentials:
    get:
      description: |
        Use this endpoint to see which credentials will be needed to create a member for a specific institution.

        Passing an invalid `institution_code` returns a `404`.
      operationId: listInstitutionCredentials
      parameters:
      - description: The institution_code of the institution.
        example: mxbank
        explode: false
        in: path
        name: institution_code
        required: true
        schema:
          type: string
        style: simple
      - description: Results are paginated. Specify current page.
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: "This specifies the number of records to be returned on each\
          \ page. Defaults to `25`. The valid range is from `10` to `1000`. If the\
          \ value exceeds `1000`, the default value of `25` will be used instead."
        example: 10
        explode: true
        in: query
        name: records_per_page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/CredentialsResponseBody'
          description: OK
      summary: List institution credentials
      tags:
      - institutions
  /managed_institutions:
    get:
      description: This endpoint returns a list of institutions which can be used
        to create partner-managed members.
      operationId: listManagedInstitutions
      parameters:
      - description: Results are paginated. Specify current page.
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: "This specifies the number of records to be returned on each\
          \ page. Defaults to `25`. The valid range is from `10` to `1000`. If the\
          \ value exceeds `1000`, the default value of `25` will be used instead."
        example: 10
        explode: true
        in: query
        name: records_per_page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InstitutionsResponseBody'
          description: OK
      summary: List managed institutions
      tags:
      - managed data
  /merchant_locations/{merchant_location_guid}:
    get:
      description: This endpoint returns the specified `merchant_location` resource.
        The `merchant_location_guid` can be found on `transaction` objects.
      operationId: readMerchantLocation
      parameters:
      - description: The unique id for a `merchant_location`.
        example: MCH-09466f0a-fb58-9d1a-bae2-2af0afbea621
        explode: false
        in: path
        name: merchant_location_guid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MerchantLocationResponseBody'
          description: OK
      summary: Read merchant location
      tags:
      - merchants
  /merchants:
    get:
      description: This endpoint returns a paginated list of all the merchants in
        the MX system.
      operationId: listMerchants
      parameters:
      - description: This will list only merchants in which the appended string appears.
        example: Comcast
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Results are paginated. Specify current page.
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: "This specifies the number of records to be returned on each\
          \ page. Defaults to `25`. The valid range is from `10` to `1000`. If the\
          \ value exceeds `1000`, the default value of `25` will be used instead."
        example: 10
        explode: true
        in: query
        name: records_per_page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MerchantsResponseBody'
          description: OK
      summary: List merchants
      tags:
      - merchants
  /merchants/{merchant_guid}:
    get:
      description: "Returns information about a particular merchant, such as a logo,\
        \ name, and website."
      operationId: readMerchant
      parameters:
      - description: The unique id for a `merchant`.
        example: MCH-7ed79542-884d-2b1b-dd74-501c5cc9d25b
        explode: false
        in: path
        name: merchant_guid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MerchantResponseBody'
          description: OK
      summary: Read merchant
      tags:
      - merchants
  /payment_processor_authorization_code:
    post:
      deprecated: true
      description: "(This endpoint is deprecated. Clients should use `/authorization_code`.)\
        \ Clients use this endpoint to request an authorization_code according to\
        \ a user, member, and account specified in the request body. Clients then\
        \ pass this code to processors. Processor access is scoped only to the user/member/account\
        \ specified in this request. Before requesting an authorization_code, clients\
        \ must have verified the specified member."
      operationId: deprecatedRequestPaymentProcessorAuthorizationCode
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentProcessorAuthorizationCodeRequestBody'
        description: The scope for the authorization code.
        required: true
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/PaymentProcessorAuthorizationCodeResponseBody'
          description: OK
      summary: (Deprecated) Request an authorization code
      tags:
      - processor token
  /transactions/enhance:
    post:
      description: "Use this endpoint to categorize, cleanse, and classify transactions.\
        \ These transactions are not persisted or stored on the MX platform. <br /><br\
        \ />For more information on returned data, please see the [Enhanced Transactions\
        \ fields guide](/api-reference/platform-api/reference/transactions-overview#enhanced-transactions)."
      operationId: enhanceTransactions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnhanceTransactionsRequestBody'
        description: Transaction object to be enhanced
        required: true
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/EnhanceTransactionsResponseBody'
          description: OK
      summary: Enhance transactions
      tags:
      - transactions
  /users:
    get:
      description: Use this endpoint to list every user you've created in the MX Platform
        API.
      operationId: listUsers
      parameters:
      - description: Results are paginated. Specify current page.
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: "This specifies the number of records to be returned on each\
          \ page. Defaults to `25`. The valid range is from `10` to `1000`. If the\
          \ value exceeds `1000`, the default value of `25` will be used instead."
        example: 10
        explode: true
        in: query
        name: records_per_page
        required: false
        schema:
          type: integer
        style: form
      - description: The user `id` to search for.
        example: u-12324-abdc
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: The user `email` to search for.
        example: example@example.com
        explode: true
        in: query
        name: email
        required: false
        schema:
          type: string
        style: form
      - description: Search for users that are diabled.
        example: true
        explode: true
        in: query
        name: is_disabled
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/UsersResponseBody'
          description: OK
      summary: List users
      tags:
      - users
    post:
      description: "Use this endpoint to create a new user. The API will respond with\
        \ the newly-created user object if successful, containing a `guid` that you'll\
        \ set as the `user_guid` in other requests when required. Disabling a user\
        \ means that accounts and transactions associated with it will not be updated\
        \ in the background by MX. It will also restrict access to that user’s data\
        \ until they are no longer disabled."
      operationId: createUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreateRequestBody'
        description: "User object to be created. (None of these parameters are required,\
          \ but the user object cannot be empty)"
        required: true
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/UserResponseBody'
          description: OK
      summary: Create user
      tags:
      - users
  /users/{user_guid}:
    delete:
      description: |
        Use this endpoint to delete the specified `user`. The response will have a status of `204 No Content` without an object.

        :::warning
        Deleting a user is permanent. Deleted users can never be restored. For more info, see [Deleting Objects](https://docs.mx.com/api-reference/platform-api/overview/deleting-objects).
        :::
      operationId: deleteUser
      parameters:
      - description: Specifies the media type expected in the response.
        explode: false
        in: header
        name: Accept
        required: true
        schema:
          example: application/vnd.mx.api.v1+json
          type: string
        style: simple
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Delete user
      tags:
      - users
    get:
      description: Use this endpoint to read the attributes of a specific user.
      operationId: readUser
      parameters:
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/UserResponseBody'
          description: OK
      summary: Read user
      tags:
      - users
    put:
      description: Use this endpoint to update the attributes of the specified user.
      operationId: updateUser
      parameters:
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateRequestBody'
        description: "User object to be updated (None of these parameters are required,\
          \ but the user object cannot be empty.)"
        required: true
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/UserResponseBody'
          description: OK
      summary: Update user
      tags:
      - users
  /users/{user_guid}/accounts:
    get:
      description: |
        This endpoint returns a list of all the accounts associated with the specified `user`.

        :::warning
        This request will not return the full account number. It may return the last four digits of the account number if that information has been provided during aggregation. If you need the full account number, please refer to [List account numbers by member](https://docs.mx.com/api-reference/platform-api/reference/list-account-numbers-by-member/), [List account numbers by account](https://docs.mx.com/api-reference/platform-api/reference/list-account-numbers-by-account/), or the [Fetch Account and Routing Numbers](https://docs.mx.com/products/connectivity/instant-account-verification/fetch-account-routing-number-api/#4-read-the-account-numbers) guide.
        :::
      operationId: listUserAccounts
      parameters:
      - description: Results are paginated. Specify current page.
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: List only accounts whose member is managed by the user.
        example: true
        explode: true
        in: query
        name: member_is_managed_by_user
        required: false
        schema:
          type: boolean
        style: form
      - description: List only accounts that were manually created.
        example: true
        explode: true
        in: query
        name: is_manual
        required: false
        schema:
          type: boolean
        style: form
      - description: "This specifies the number of records to be returned on each\
          \ page. Defaults to `25`. The valid range is from `10` to `1000`. If the\
          \ value exceeds `1000`, the default value of `25` will be used instead."
        example: 10
        explode: true
        in: query
        name: records_per_page
        required: false
        schema:
          type: integer
        style: form
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      - description: "The use case associated with the member. Valid values are `PFM`\
          \ and `MONEY_MOVEMENT`. For example, you can append either `?use_case=PFM`\
          \ or `?use_case=MONEY_MOVEMENT`."
        example: MONEY_MOVEMENT
        explode: true
        in: query
        name: use_case
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountsResponseBody'
          description: OK
      summary: List accounts
      tags:
      - accounts
    post:
      description: "This endpoint can only be used to create manual accounts. Creating\
        \ a manual account will automatically create it under the Manual Institution\
        \ member. Since a manual account has no credentials tied to the member, the\
        \ account will never aggregate or include data from a data feed.."
      operationId: createManualAccount
      parameters:
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreateRequestBody'
        description: Manual account object to be created.
        required: true
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Create manual account
      tags:
      - accounts
  /users/{user_guid}/accounts/{account_guid}:
    delete:
      description: This endpoint deletes accounts that were manually created. The
        API will respond with an empty object and a status of `204 No Content`.
      operationId: deleteManualAccount
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        explode: false
        in: path
        name: account_guid
        required: true
        schema:
          type: string
        style: simple
      - description: Specifies the media type expected in the response.
        explode: false
        in: header
        name: Accept
        required: true
        schema:
          example: application/vnd.mx.api.v1+json
          type: string
        style: simple
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content.
      summary: Delete manual account
      tags:
      - accounts
    get:
      description: This endpoint returns the specified `account` resource.
      operationId: readAccount
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        explode: false
        in: path
        name: account_guid
        required: true
        schema:
          type: string
        style: simple
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Read account
      tags:
      - accounts
  /users/{user_guid}/accounts/{account_guid}/account_numbers:
    get:
      description: This endpoint returns a list of account numbers associated with
        the specified `account`.
      operationId: listAccountNumbersByAccount
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        explode: false
        in: path
        name: account_guid
        required: true
        schema:
          type: string
        style: simple
      - description: Results are paginated. Specify current page.
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: "This specifies the number of records to be returned on each\
          \ page. Defaults to `25`. The valid range is from `10` to `1000`. If the\
          \ value exceeds `1000`, the default value of `25` will be used instead."
        example: 10
        explode: true
        in: query
        name: records_per_page
        required: false
        schema:
          type: integer
        style: form
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountNumbersResponseBody'
          description: OK
      summary: List account numbers by account
      tags:
      - accounts
  /users/{user_guid}/accounts/{account_guid}/insights:
    get:
      description: Use this endpoint to list all insights associated with an account
        GUID.
      operationId: listInsightsByAccount
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        explode: false
        in: path
        name: account_guid
        required: true
        schema:
          type: string
        style: simple
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      - description: Results are paginated. Specify current page.
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: "This specifies the number of records to be returned on each\
          \ page. Defaults to `25`. The valid range is from `10` to `100`. If the\
          \ value exceeds `100`, the default value of `25` will be used instead."
        example: 10
        explode: true
        in: query
        name: records_per_page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InsightsResponseBody'
          description: OK
      summary: List insights by account
      tags:
      - insights
  /users/{user_guid}/accounts/{account_guid}/transactions:
    get:
      description: "Requests to this endpoint return a list of transactions associated\
        \ with the specified account. <br /><br />Enhanced transaction data may be\
        \ requested using the `includes` parameter. \nTo use this optional parameter,\
        \ the value should include the optional metadata requested such as `repeating_transactions`,\
        \ `merchants`, `classifications`, `geolocations`.\nFor more information, see\
        \ the [Optional Enhancement Query Parameter guide](/api-reference/platform-api/reference/transactions-overview#enhanced-transactions#optional-enhancement-query-parameter).\n"
      operationId: listTransactionsByAccount
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        explode: false
        in: path
        name: account_guid
        required: true
        schema:
          type: string
        style: simple
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      - description: Results are paginated. Specify current page.
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: "This specifies the number of records to be returned on each\
          \ page. Defaults to `25`. The valid range is from `10` to `1000`. If the\
          \ value exceeds `1000`, the default value of `25` will be used instead."
        example: 10
        explode: true
        in: query
        name: records_per_page
        required: false
        schema:
          type: integer
        style: form
      - description: Filter transactions from this date. This only supports ISO 8601
          format without timestamp (YYYY-MM-DD). Defaults to 120 days ago if not provided.
        example: 2024-01-01
        explode: true
        in: query
        name: from_date
        required: false
        schema:
          type: string
        style: form
      - description: Filter transactions to this date (at midnight). This only supports
          ISO 8601 format without timestamp (YYYY-MM-DD). Defaults to 5 days forward
          from the day the request is made to capture pending transactions.
        example: 2024-03-31
        explode: true
        in: query
        name: to_date
        required: false
        schema:
          type: string
        style: form
      - description: Filter transactions from the date the transaction was created.
          This only supports ISO 8601 format without timestamp (YYYY-MM-DD). Maximum
          date range limit is 6 months.
        example: 2024-01-01
        explode: true
        in: query
        name: from_created_at
        required: false
        schema:
          type: string
        style: form
      - description: Filter transaction to the date in which the transaction was created.
          This only supports ISO 8601 format without timestamp (YYYY-MM-DD). Maximum
          date range limit is 6 months.
        example: 2024-03-31
        explode: true
        in: query
        name: to_created_at
        required: false
        schema:
          type: string
        style: form
      - description: Filter transactions from the date in which the transaction was
          updated. This only supports ISO 8601 format without timestamp (YYYY-MM-DD).
          Maximum date range limit is 6 months.
        example: 2024-01-01
        explode: true
        in: query
        name: from_updated_at
        required: false
        schema:
          type: string
        style: form
      - description: Filter transactions to the date in which the transaction was
          updated. This only supports ISO 8601 format without timestamp (YYYY-MM-DD).
          Maximum date range limit is 6 months.
        example: 2024-03-31
        explode: true
        in: query
        name: to_updated_at
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Filter transactions belonging to specified `category_guid`.

          For example, `?category_guid=CAT-7829f71c-2e8c-afa5-2f55-fa3634b89874`.
        explode: true
        in: query
        name: category_guid
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Filter transactions belonging to any specified `category_guid[]` in url.

          For example, `?category_guid[]=CAT-7829f71c-2e8c-afa5-2f55-fa3634b89874`.
        explode: true
        in: query
        name: "category_guid[]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Filter transactions belonging to specified `top_level_category_guid`. This must be top level category guid, use `category_guid` for subcategory guid.

          For example, `?top_level_category_guid=CAT-7829f71c-2e8c-afa5-2f55-fa3634b89874`.
        explode: true
        in: query
        name: top_level_category_guid
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Filter transactions belonging to any specified `top_level_category_guid[]` in url. This must be top level category guid(s), use `category_guid` for subcategory guid(s).

          For example, `?top_level_category_guid[]=CAT-7829f71c-2e8c-afa5-2f55-fa3634b89874`.
        explode: true
        in: query
        name: "top_level_category_guid[]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Options for enhanced transactions. This query parameter is optional.\
          \ Possible additional metadata: `repeating_transactions`, `merchants`, `classifications`,\
          \ `geolocations`. The query value is format sensitive. To retrieve all available\
          \ enhancements, append:\n\n`?includes=repeating_transactions,merchants,classifications,geolocations`.\
          \ \n \nThe query options may be combined to specific enhancements. For example,\
          \ to request Repeating Transactions and Geolocation data, use: \n\n`?includes=repeating_transactions,geolocations`.\n\
          \n- Repeating Transactions: Identifies transactions with predictable recurrence\
          \ patterns (e.g., Bill, Income, Subscription).\n- Merchants: Enriches transactions\
          \ with merchant name.\n- Classifications: Provides more insight into the\
          \ type of money movement that is occurring on the transaction, whether it\
          \ be retail or investments.\n- Geolocation: Provides geographic metadata.\n"
        example: "repeating_transactions,merchants,classifications,geolocations"
        explode: true
        in: query
        name: includes
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionsResponseBodyIncludes'
          description: OK
      summary: List transactions by account
      tags:
      - transactions
    post:
      description: This endpoint can only be used to create manual transactions that
        are under a manual account. This endpoint accepts the optional MX-Skip-Webhook
        header and skip_webhook parameter.
      operationId: createManualTransaction
      parameters:
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        explode: false
        in: path
        name: account_guid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionCreateRequestBody'
        required: true
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionCreateResponseBody'
          description: OK
      summary: Create manual transaction
      tags:
      - transactions
  /users/{user_guid}/categories:
    get:
      description: "Use this endpoint to list all categories associated with a `user`,\
        \ including both default and custom categories."
      operationId: listCategories
      parameters:
      - description: Results are paginated. Specify current page.
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: "This specifies the number of records to be returned on each\
          \ page. Defaults to `25`. The valid range is from `10` to `1000`. If the\
          \ value exceeds `1000`, the default value of `25` will be used instead."
        example: 10
        explode: true
        in: query
        name: records_per_page
        required: false
        schema:
          type: integer
        style: form
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/CategoriesResponseBody'
          description: OK
      summary: List categories
      tags:
      - categories
    post:
      description: Use this endpoint to create a new custom category for a specific
        `user`.
      operationId: createCategory
      parameters:
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryCreateRequestBody'
        description: Custom category object to be created
        required: true
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/CategoryResponseBody'
          description: OK
      summary: Create category
      tags:
      - categories
  /users/{user_guid}/categories/default:
    get:
      description: "Use this endpoint to retrieve a list of all the default categories\
        \ and subcategories, scoped by user, offered within the MX Platform API. In\
        \ other words, each item in the returned list will have its `is_default` field\
        \ set to `true`. There are currently 119 default categories and subcategories.\
        \ Both the _list default categories_ and _list default categories by user_\
        \ endpoints return the same results. The different routes are provided for\
        \ convenience."
      operationId: listDefaultCategoriesByUser
      parameters:
      - description: Results are paginated. Specify current page.
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: "This specifies the number of records to be returned on each\
          \ page. Defaults to `25`. The valid range is from `10` to `1000`. If the\
          \ value exceeds `1000`, the default value of `25` will be used instead."
        example: 10
        explode: true
        in: query
        name: records_per_page
        required: false
        schema:
          type: integer
        style: form
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/CategoriesResponseBody'
          description: OK
      summary: List default categories by user
      tags:
      - categories
  /users/{user_guid}/categories/{category_guid}:
    delete:
      description: Use this endpoint to delete a specific custom category according
        to its unique GUID. The API will respond with an empty object and a status
        of `204 No Content`.
      operationId: deleteCategory
      parameters:
      - description: The unique id for a `category`.
        explode: false
        in: path
        name: category_guid
        required: true
        schema:
          example: CAT-7829f71c-2e8c-afa5-2f55-fa3634b89874
          type: string
        style: simple
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Delete category
      tags:
      - categories
    get:
      description: Use this endpoint to read the attributes of either a default category
        or a custom category.
      operationId: readCategory
      parameters:
      - description: The unique id for a `category`.
        explode: false
        in: path
        name: category_guid
        required: true
        schema:
          example: CAT-7829f71c-2e8c-afa5-2f55-fa3634b89874
          type: string
        style: simple
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/CategoryResponseBody'
          description: OK
      summary: Read a custom category
      tags:
      - categories
    put:
      description: Use this endpoint to update the attributes of a custom category
        according to its unique GUID.
      operationId: updateCategory
      parameters:
      - description: The unique id for a `category`.
        explode: false
        in: path
        name: category_guid
        required: true
        schema:
          example: CAT-7829f71c-2e8c-afa5-2f55-fa3634b89874
          type: string
        style: simple
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryUpdateRequestBody'
        description: "Category object to be updated (While no single parameter is\
          \ required, the `category` object cannot be empty)"
        required: true
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/CategoryResponseBody'
          description: OK
      summary: Update category
      tags:
      - categories
  /users/{user_guid}/connect_widget_url:
    post:
      deprecated: true
      description: This endpoint will return a URL for an embeddable version of MX
        Connect.
      operationId: requestConnectWidgetURL
      parameters:
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectWidgetRequestBody'
        description: "Optional config options for WebView (is_mobile_webview, current_institution_code,\
          \ current_member_guid, update_credentials)"
        required: true
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/ConnectWidgetResponseBody'
          description: OK
      summary: (Deprecated) Request connect widget URL
      tags:
      - widgets
  /users/{user_guid}/insights:
    get:
      description: Use this endpoint to list all the insights associated with the
        user.
      operationId: listInsightsUser
      parameters:
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      - description: Results are paginated. Specify current page.
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: "This specifies the number of records to be returned on each\
          \ page. Defaults to `25`. The valid range is from `10` to `100`. If the\
          \ value exceeds `100`, the default value of `25` will be used instead."
        example: 10
        explode: true
        in: query
        name: records_per_page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InsightsResponseBody'
          description: OK
      summary: List all insights for a user
      tags:
      - insights
  /users/{user_guid}/insights/{insight_guid}/categories:
    get:
      description: Use this endpoint to list all the categories associated with the
        insight.
      operationId: listCategoriesInsight
      parameters:
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier for the insight. Defined by MX.
        example: BET-1234-abcd
        explode: false
        in: path
        name: insight_guid
        required: true
        schema:
          type: string
        style: simple
      - description: Results are paginated. Specify current page.
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: "This specifies the number of records to be returned on each\
          \ page. Defaults to `25`. The valid range is from `10` to `100`. If the\
          \ value exceeds `100`, the default value of `25` will be used instead."
        example: 10
        explode: true
        in: query
        name: records_per_page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/CategoriesResponseBody'
          description: OK
      summary: List all categories associated with an insight
      tags:
      - insights
  /users/{user_guid}/insights/{insight_guid}/accounts:
    get:
      description: Use this endpoint to list all the accounts associated with the
        insight.
      operationId: listAccountsInsight
      parameters:
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier for the insight. Defined by MX.
        example: BET-1234-abcd
        explode: false
        in: path
        name: insight_guid
        required: true
        schema:
          type: string
        style: simple
      - description: Results are paginated. Specify current page.
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: "This specifies the number of records to be returned on each\
          \ page. Defaults to `25`. The valid range is from `10` to `100`. If the\
          \ value exceeds `100`, the default value of `25` will be used instead."
        example: 10
        explode: true
        in: query
        name: records_per_page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountsResponseBody'
          description: OK
      summary: List all accounts associated with an insight
      tags:
      - insights
  /users/{user_guid}/insights/{insight_guid}/merchants:
    get:
      description: Use this endpoint to list all the merchants associated with the
        insight.
      operationId: listMerchantsInsight
      parameters:
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier for the insight. Defined by MX.
        example: BET-1234-abcd
        explode: false
        in: path
        name: insight_guid
        required: true
        schema:
          type: string
        style: simple
      - description: Results are paginated. Specify current page.
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: "This specifies the number of records to be returned on each\
          \ page. Defaults to `25`. The valid range is from `10` to `100`. If the\
          \ value exceeds `100`, the default value of `25` will be used instead."
        example: 10
        explode: true
        in: query
        name: records_per_page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MerchantsResponseBody'
          description: OK
      summary: List all merchants associated with an insight
      tags:
      - insights
  /users/{user_guid}/insights/{insight_guid}/scheduled_payments:
    get:
      description: Use this endpoint to list all the scheduled payments associated
        with the insight.
      operationId: listScheduledPaymentsInsight
      parameters:
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier for the insight. Defined by MX.
        example: BET-1234-abcd
        explode: false
        in: path
        name: insight_guid
        required: true
        schema:
          type: string
        style: simple
      - description: Results are paginated. Specify current page.
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: "This specifies the number of records to be returned on each\
          \ page. Defaults to `25`. The valid range is from `10` to `100`. If the\
          \ value exceeds `100`, the default value of `25` will be used instead."
        example: 10
        explode: true
        in: query
        name: records_per_page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/ScheduledPaymentsResponseBody'
          description: OK
      summary: List all scheduled payments associated with an insight
      tags:
      - insights
  /users/{user_guid}/insights/{insight_guid}/transactions:
    get:
      description: Use this endpoint to list all the transactions associated with
        the insight.
      operationId: listTransactionsInsight
      parameters:
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier for the insight. Defined by MX.
        example: BET-1234-abcd
        explode: false
        in: path
        name: insight_guid
        required: true
        schema:
          type: string
        style: simple
      - description: Results are paginated. Specify current page.
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: "This specifies the number of records to be returned on each\
          \ page. Defaults to `25`. The valid range is from `10` to `100`. If the\
          \ value exceeds `100`, the default value of `25` will be used instead."
        example: 10
        explode: true
        in: query
        name: records_per_page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionsResponseBody'
          description: OK
      summary: List all transactions associated with an insight
      tags:
      - insights
  /users/{user_guid}/insights/{insight_guid}:
    get:
      description: Use this endpoint to read the attributes of an insight according
        to its unique GUID.
      operationId: readInsightUser
      parameters:
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier for the insight. Defined by MX.
        example: BET-1234-abcd
        explode: false
        in: path
        name: insight_guid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InsightResponseBody'
          description: OK
      summary: Read insight
      tags:
      - insights
    put:
      description: Use this endpoint to update the attributes of an insight according
        to its unique GUID.
      operationId: updateInsight
      parameters:
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier for the insight. Defined by MX.
        example: BET-1234-abcd
        explode: false
        in: path
        name: insight_guid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsightUpdateRequestBody'
        description: "The insight to be updated (None of these parameters are required,\
          \ but the user object cannot be empty.)"
        required: true
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InsightResponse'
          description: OK
      summary: Update insight
      tags:
      - insights
  /users/{user_guid}/managed_members:
    get:
      description: This endpoint returns a list of all the partner-managed members
        associated with the specified `user`.
      operationId: listManagedMembers
      parameters:
      - description: Results are paginated. Specify current page.
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: "This specifies the number of records to be returned on each\
          \ page. Defaults to `25`. The valid range is from `10` to `1000`. If the\
          \ value exceeds `1000`, the default value of `25` will be used instead."
        example: 10
        explode: true
        in: query
        name: records_per_page
        required: false
        schema:
          type: integer
        style: form
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MembersResponseBody'
          description: OK
      summary: List managed members
      tags:
      - managed data
    post:
      description: Use this endpoint to create a new partner-managed `member`.
      operationId: createManagedMember
      parameters:
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedMemberCreateRequestBody'
        description: Managed member to be created.
        required: true
      responses:
        "202":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: OK
      summary: Create managed member
      tags:
      - managed data
  /users/{user_guid}/managed_members/{member_guid}:
    delete:
      description: Use this endpoint to delete the specified partner-managed `member`.
        The endpoint will respond with a status of `204 No Content` without a resource.
      operationId: deleteManagedMember
      parameters:
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        explode: false
        in: path
        name: member_guid
        required: true
        schema:
          type: string
        style: simple
      - description: Specifies the media type expected in the response.
        explode: false
        in: header
        name: Accept
        required: true
        schema:
          example: application/vnd.mx.api.v1+json
          type: string
        style: simple
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Delete managed member
      tags:
      - managed data
    get:
      description: This endpoint returns the attributes of the specified partner-managed`member`.
      operationId: readManagedMember
      parameters:
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        explode: false
        in: path
        name: member_guid
        required: true
        schema:
          type: string
        style: simple
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: OK
      summary: Read managed member
      tags:
      - managed data
    put:
      description: Use this endpoint to update the attributes of the specified partner_managed
        `member`.
      operationId: updateManagedMember
      parameters:
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        explode: false
        in: path
        name: member_guid
        required: true
        schema:
          type: string
        style: simple
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedMemberUpdateRequestBody'
        description: "Managed member object to be updated (While no single parameter\
          \ is required, the request body can't be empty)"
        required: true
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: OK
      summary: Update managed member
      tags:
      - managed data
  /users/{user_guid}/managed_members/{member_guid}/accounts:
    get:
      description: Use this endpoint to retrieve a list of all the partner-managed
        accounts associated with the given partner-managed member.
      operationId: listManagedAccounts
      parameters:
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        explode: false
        in: path
        name: member_guid
        required: true
        schema:
          type: string
        style: simple
      - description: Results are paginated. Specify current page.
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: "This specifies the number of records to be returned on each\
          \ page. Defaults to `25`. The valid range is from `10` to `1000`. If the\
          \ value exceeds `1000`, the default value of `25` will be used instead."
        example: 10
        explode: true
        in: query
        name: records_per_page
        required: false
        schema:
          type: integer
        style: form
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountsResponseBody'
          description: OK
      summary: List managed accounts
      tags:
      - managed data
    post:
      description: Use this endpoint to create a partner-managed account.
      operationId: createManagedAccount
      parameters:
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        explode: false
        in: path
        name: member_guid
        required: true
        schema:
          type: string
        style: simple
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedAccountCreateRequestBody'
        description: Managed account to be created.
        required: true
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Create managed account
      tags:
      - managed data
  /users/{user_guid}/managed_members/{member_guid}/accounts/{account_guid}:
    delete:
      description: "Use this endpoint to delete a partner-managed account according\
        \ to its unique GUID. If successful, the API will respond with a status of\
        \ `204 No Content`."
      operationId: deleteManagedAccount
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        explode: false
        in: path
        name: account_guid
        required: true
        schema:
          type: string
        style: simple
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        explode: false
        in: path
        name: member_guid
        required: true
        schema:
          type: string
        style: simple
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Delete managed account
      tags:
      - managed data
    get:
      description: Use this endpoint to read the attributes of a partner-managed account
        according to its unique guid.
      operationId: readManagedAccount
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        explode: false
        in: path
        name: account_guid
        required: true
        schema:
          type: string
        style: simple
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        explode: false
        in: path
        name: member_guid
        required: true
        schema:
          type: string
        style: simple
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Read managed account
      tags:
      - managed data
    put:
      description: Use this endpoint to update the attributes of a partner-managed
        account according to its unique GUID.
      operationId: updateManagedAccount
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        explode: false
        in: path
        name: account_guid
        required: true
        schema:
          type: string
        style: simple
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        explode: false
        in: path
        name: member_guid
        required: true
        schema:
          type: string
        style: simple
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedAccountUpdateRequestBody'
        description: "Managed account object to be updated (While no single parameter\
          \ is required, the request body can't be empty)"
        required: true
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Update managed account
      tags:
      - managed data
  /users/{user_guid}/managed_members/{member_guid}/accounts/{account_guid}/transactions:
    get:
      description: "This endpoint returns a list of all the partner-managed transactions\
        \ associated with the specified `account`, scoped through a `user` and a `member`."
      operationId: listManagedTransactions
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        explode: false
        in: path
        name: account_guid
        required: true
        schema:
          type: string
        style: simple
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        explode: false
        in: path
        name: member_guid
        required: true
        schema:
          type: string
        style: simple
      - description: Results are paginated. Specify current page.
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Filter transactions from this date. This only supports ISO 8601
          format without timestamp (YYYY-MM-DD). Defaults to 120 days ago if not provided.
        example: 2024-01-01
        explode: true
        in: query
        name: from_date
        required: false
        schema:
          type: string
        style: form
      - description: Filter transactions to this date (at midnight). This only supports
          ISO 8601 format without timestamp (YYYY-MM-DD). Defaults to 5 days forward
          from the day the request is made to capture pending transactions.
        example: 2024-03-31
        explode: true
        in: query
        name: to_date
        required: false
        schema:
          type: string
        style: form
      - description: "This specifies the number of records to be returned on each\
          \ page. Defaults to `25`. The valid range is from `10` to `1000`. If the\
          \ value exceeds `1000`, the default value of `25` will be used instead."
        example: 10
        explode: true
        in: query
        name: records_per_page
        required: false
        schema:
          type: integer
        style: form
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionsResponseBody'
          description: OK
      summary: List managed transactions
      tags:
      - managed data
    post:
      description: Use this endpoint to create a new partner-managed `transaction`.
      operationId: createManagedTransaction
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        explode: false
        in: path
        name: account_guid
        required: true
        schema:
          type: string
        style: simple
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        explode: false
        in: path
        name: member_guid
        required: true
        schema:
          type: string
        style: simple
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedTransactionCreateRequestBody'
        description: Managed transaction to be created.
        required: true
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionResponseBody'
          description: OK
      summary: Create managed transaction
      tags:
      - managed data
  /users/{user_guid}/managed_members/{member_guid}/accounts/{account_guid}/transactions/{transaction_guid}:
    delete:
      description: Use this endpoint to delete the specified partner-managed `transaction`.
        The endpoint will respond with a status of `204 No Content` without a resource.
      operationId: deleteManagedTransaction
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        explode: false
        in: path
        name: account_guid
        required: true
        schema:
          type: string
        style: simple
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        explode: false
        in: path
        name: member_guid
        required: true
        schema:
          type: string
        style: simple
      - description: The unique id for a `transaction`.
        example: TRN-810828b0-5210-4878-9bd3-f4ce514f90c4
        explode: false
        in: path
        name: transaction_guid
        required: true
        schema:
          type: string
        style: simple
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Delete managed transaction
      tags:
      - managed data
    get:
      description: Requests to this endpoint will return the attributes of the specified
        partner-managed `transaction`.
      operationId: readManagedTransaction
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        explode: false
        in: path
        name: account_guid
        required: true
        schema:
          type: string
        style: simple
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        explode: false
        in: path
        name: member_guid
        required: true
        schema:
          type: string
        style: simple
      - description: The unique id for a `transaction`.
        example: TRN-810828b0-5210-4878-9bd3-f4ce514f90c4
        explode: false
        in: path
        name: transaction_guid
        required: true
        schema:
          type: string
        style: simple
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionResponseBody'
          description: OK
      summary: Read managed transaction
      tags:
      - managed data
    put:
      description: Use this endpoint to update the attributes of the specified partner_managed
        `transaction`.
      operationId: updateManagedTransaction
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        explode: false
        in: path
        name: account_guid
        required: true
        schema:
          type: string
        style: simple
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        explode: false
        in: path
        name: member_guid
        required: true
        schema:
          type: string
        style: simple
      - description: The unique id for a `transaction`.
        example: TRN-810828b0-5210-4878-9bd3-f4ce514f90c4
        explode: false
        in: path
        name: transaction_guid
        required: true
        schema:
          type: string
        style: simple
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedTransactionUpdateRequestBody'
        description: "Managed transaction object to be updated (While no single parameter\
          \ is required, the request body can't be empty)"
        required: true
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionResponseBody'
          description: OK
      summary: Update managed transaction
      tags:
      - managed data
  /users/{user_guid}/members:
    get:
      description: This endpoint returns an array which contains information on every
        member associated with a specific user.
      operationId: listMembers
      parameters:
      - description: Results are paginated. Specify current page.
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: "This specifies the number of records to be returned on each\
          \ page. Defaults to `25`. The valid range is from `10` to `1000`. If the\
          \ value exceeds `1000`, the default value of `25` will be used instead."
        example: 10
        explode: true
        in: query
        name: records_per_page
        required: false
        schema:
          type: integer
        style: form
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      - description: "The use case associated with the member. Valid values are `PFM`\
          \ and `MONEY_MOVEMENT`. For example, you can append either `?use_case=PFM`\
          \ or `?use_case=MONEY_MOVEMENT`."
        example: MONEY_MOVEMENT
        explode: true
        in: query
        name: use_case
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MembersResponseBody'
          description: OK
      summary: List members
      tags:
      - members
    post:
      description: "This endpoint allows you to create a new member. Members are created\
        \ with the required parameters credentials and institution_code, and the optional\
        \ parameters id and metadata. When creating a member, youll need to include\
        \ the correct type of credential required by the financial institution and\
        \ provided by the user. You can find out which credential type is required\
        \ with the `/institutions/{institution_code}/credentials` endpoint. If successful,\
        \ the MX Platform API will respond with the newly-created member object. Once\
        \ you successfully create a member, MX will immediately validate the provided\
        \ credentials and attempt to aggregate data for accounts and transactions."
      operationId: createMember
      parameters:
      - description: "The base64 encoded string defined in this header will be returned\
          \ in the [Member](/resources/webhooks/member/) and [Member Data Updated](/resources/webhooks/member#member-data-updated)\
          \ webhooks. This allows you to trace user interactions and workflows initiated\
          \ externally and internally in the MX Platform. Max 1024 characters."
        example: 813e50bd-4a7e-4517-b6bb-9eef65a68cbd
        explode: false
        in: header
        name: X-CALLBACK-PAYLOAD
        required: false
        schema:
          type: string
        style: simple
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberCreateRequestBody'
        description: Member object to be created with optional parameters (id and
          metadata) and required parameters (credentials and institution_code)
        required: true
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: OK
        "202":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: Accepted
      summary: Create member
      tags:
      - members
  /users/{user_guid}/members/{member_guid}:
    delete:
      description: Accessing this endpoint will permanently delete a member.
      operationId: deleteMember
      parameters:
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        explode: false
        in: path
        name: member_guid
        required: true
        schema:
          type: string
        style: simple
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Delete member
      tags:
      - members
    get:
      description: Use this endpoint to read the attributes of a specific member.
      operationId: readMember
      parameters:
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        explode: false
        in: path
        name: member_guid
        required: true
        schema:
          type: string
        style: simple
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: OK
      summary: Read member
      tags:
      - members
    put:
      description: "Use this endpoint to update a members attributes. Only the credentials,\
        \ id, and metadata parameters can be updated. To get a list of the required\
        \ credentials for the member, use the list member credentials endpoint."
      operationId: updateMember
      parameters:
      - description: "The base64 encoded string defined in this header will be returned\
          \ in the [Member](/resources/webhooks/member/) and [Member Data Updated](/resources/webhooks/member#member-data-updated)\
          \ webhooks. This allows you to trace user interactions and workflows initiated\
          \ externally and internally in the MX Platform. Max 1024 characters."
        example: 813e50bd-4a7e-4517-b6bb-9eef65a68cbd
        explode: false
        in: header
        name: X-CALLBACK-PAYLOAD
        required: false
        schema:
          type: string
        style: simple
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        explode: false
        in: path
        name: member_guid
        required: true
        schema:
          type: string
        style: simple
      - description: "The unique identifier for a `user`, beginning with the prefix\
          \ `USR-`."
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        explode: false
        in: path
        name: user_guid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberUpdateRequestBody'
        description: "Member object to be updated (While no single parameter is required,\
          \ the request body can't be empty)"
        required: true
      responses:
        "200":
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: OK
      summary: Update member
      tags:
      - members
  /users/{user_guid}/members/{member_guid}/account_numbers:
    get:
      description: This endpoint returns a list of account numbers associated with
        the specified `member`.
      operationId: listAccountNumbersByMember
      parameters:
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        explode: false
        in: path
        name: member_guid
        required: true
        schema:
          type: string
[...]
